* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, 
    rgb(42, 188, 220), rgb(255, 0, 242)) fixed
}

.datetime {
    width: 30%;
    background-color: #003;
    padding: 2rem;
    border-radius: 6px;
    border-right: 15px solid aqua;
    margin: 5px;
    font-family:'Courier New', Courier, monospace;
}

.date{
    font-size: 2em;
    color: aqua;
}

.time {
    font-size: 2em;
    color: aqua;
    margin-bottom: 1rem;
}

h1 {
    font-size: 250%;
    text-align: center;

}